/* Color Theme Swatches in Hex */
.Composite-image-of-mustache-logo-1-hex { color: #733C46; }
.Composite-image-of-mustache-logo-2-hex { color: #060E40; }
.Composite-image-of-mustache-logo-3-hex { color: #F2DCC9; }
.Composite-image-of-mustache-logo-4-hex { color: #A65746; }
.Composite-image-of-mustache-logo-5-hex { color: #BFADA8; }

/* Color Theme Swatches in RGBA */
.Composite-image-of-mustache-logo-1-rgba { color: rgba(114, 59, 69, 1); }
.Composite-image-of-mustache-logo-2-rgba { color: rgba(5, 14, 63, 1); }
.Composite-image-of-mustache-logo-3-rgba { color: rgba(242, 220, 201, 1); }
.Composite-image-of-mustache-logo-4-rgba { color: rgba(165, 87, 69, 1); }
.Composite-image-of-mustache-logo-5-rgba { color: rgba(191, 172, 168, 1); }

/* Color Theme Swatches in HSLA */
.Composite-image-of-mustache-logo-1-hsla { color: hsla(348, 31, 34, 1); }
.Composite-image-of-mustache-logo-2-hsla { color: hsla(230, 83, 13, 1); }
.Composite-image-of-mustache-logo-3-hsla { color: hsla(28, 61, 86, 1); }
.Composite-image-of-mustache-logo-4-hsla { color: hsla(11, 40, 46, 1); }
.Composite-image-of-mustache-logo-5-hsla { color: hsla(11, 15, 70, 1); }


