:root {
    --first-color: #060E40;
    --second-color: #A65746;
    --third-color: #BFADA8;
}

.app {
    min-height: 100vh;
    line-height: 1.4;
  

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

.header {
    grid-area: header;
    background-color: var(--first-color);
    padding: 1rem;
    /* height: 9vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header a {
   font-size: 1.5rem;
}

.toggle {
  display: flex;
  justify-content: center;
  padding-top: 7px;  
  color: white;
}


.nav-icon {
    color: white;
    height: 35px;
    width: 35px;
    /* cursor: pointer; */
    
}

.logo {
    height: 11vh;
    width: 70%;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--first-color);
    opacity: .9;
    transition: transform .3s ease-out;
    transform: translateY(-100%);
    color: white;
    /*transform: translateX(100%);*/
    /*transform: translateY(-100%);*/
    /*transform: translateY(100%);*/
}


.nav:target { transform: translate(0, 0); }



.list-items {
    text-align: center;
    

}

.main {
    grid-area: main;
    margin: auto;
    width: 90%;
  
}

.footer {
    grid-area: footer;
}