:root {
    --first-color: #060E40;
    --second-color: #A65746;
    --third-color: #BFADA8;
}

.app {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    line-height: 1.4;
  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'header'
                         'banner'
                         'pictures'
                         'main'
                         'footer';
}

.header {
    grid-area: header;
    background-color: var(--first-color);
    padding: 1rem;
    /* height: 9vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
   font-size: 1.5rem;
}

.logo {
    height: 8vh;
    width: 80%;
    padding: 0;
}

/* ========= navigation-menu ========= */

.toggle {
  display: flex;
  justify-content: center;
  padding-top: 7px;  
  color: white;
}

.nav-icon {
    color: white;
    height: 35px;
    width: 35px;
    /* cursor: pointer; */
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--first-color);
    opacity: .9;
    transition: transform .3s ease-out;
    transform: translateY(-100%);
    color: white;
    /*transform: translateX(100%);*/
    /*transform: translateY(-100%);*/
    /*transform: translateY(100%);*/
}

.close {
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: steelblue;
}

.nav:target { transform: translate(0, 0); }

.list-items { text-align: center; }

/* =========== parallax banner ============ */

.cover-page {
    background-image: url(/assets/imgs/background.jpg);
    background-color: var(--second-color);
    position: relative;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    height: 70vh;
    opacity: .9;

}

.cover-page-text {
  text-align: center;
  width: 85%;
  opacity: .7;
  position: absolute;
  padding: 20px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 2px 10px 10px rgb(37, 36, 36);
}

.cover-page-text h2 {
    opacity: .9;
    color: black;

}

/* =========== main content ============ */

.main {
    grid-area: main;
    margin: auto;
    width: 90%;  
}

.welcome-title {
    background-color: var(--first-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    top: -35px;
    z-index: 1;
    
}

.barbershop-icon {
    display: none;
}

.pictures {
    grid-area: pictures;
    z-index: -1;
}

div.polaroid {
    position: relative;
    top: 25px;
    width: 280px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    z-index: -1;
}

div.rotate_right {
    float: right;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
}

.experience-title{
    background-color: var(--second-color);
    top: 5px;
}



.footer {
    grid-area: footer;
}

